<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<body>
    <form action="/details" method="POST">
        <label for="addressFrom">From: </label>
        <input type="text" id="addressFrom" name="addressFrom">
    
        <label for="addressTo">To :</label>
        <input type="text" id="addressTo" name="addressTo">
    
        <button type="submit">submit</button>
    </form>  
</body>
</html>