html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
   box-sizing: inherit; 
}

h1{
    font-size: 3em;
}

body{
    margin: 0;
    padding: 0;
}

#map { 
    margin-left: 25%;
    height: 650px; 
    width: 700px;
}
